<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="this.modalController.dismiss()">
        <ion-icon
          color="primary"
          slot="icon-only" 
          name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{  title  }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="custom-white">
  <div class="image-container">
    <img 
    [src]="getUserImage()"
    class="profile-image" 
    alt="user profile image">
    <ion-button (click)="uploadFile()"> Upload & Preview </ion-button>
    <input
      style="display: none;"
      #fileButton
      type="file" 
      (change)="fileChanged($event)" 
      accept="image/*" 
      class="image-btn"/>
  </div>
  <div class="inputs-container">
    <ion-item>
      <ion-label position="floating">Full Name</ion-label>
      <ion-input
        (ionChange)="updateName($event)"
        [value]="this.name"
        lines="none"
        ngDefaultControl
        ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        (ionChange)="updateEmail($event)"
        [value]="this.email"
        lines="none"
        ngDefaultControl
        ></ion-input>
    </ion-item>
  </div>
    <div class="action-buttons">
      <ion-button 
        color="danger" 
        (click)="this.modalController.dismiss()" 
        expand="block" 
        shape="round"
      >
        Cancel
      </ion-button>
      <ion-button 
        (click)="addUpdateUser(this.name, this.email, this.avatar)" 
        expand="block" 
        shape="round"
      >
        {{  buttonAction  }}
      </ion-button>
    </div>
</ion-content>
