.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}

.profile-image {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  margin-bottom: 20px;
  object-fit: cover;
}

.inputs-container {
  margin: 30px 30px;
}

ion-item {
  margin: 25px 0px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 0px #ccc;
  --background: white !important;
}

.action-buttons {
  display: flex;
  justify-content: space-evenly;
}

.action-buttons * {
  width: 40%;
  margin: 30px 0px;
}